<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>


   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated CityTransportInventory -->
      <package
            uri="http://citytransportinventory/1.0"
            class="org.tud.city.transport.citytransportinventory.CitytransportinventoryPackage"
            genModel="model/CityTransportInventory.genmodel"/>
   </extension>

</plugin>
